body{
    font-family: FreeSerif;
}

.img{
    height: 490px;
    width: 490px;
    margin-top: 20px;
}
.icone{
    height: 160px;
    width: 160px;
    margin-top: 20px;
}

.inputs{
    margin-top : 20px;
}

#centeredTop {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centeredBottom {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textMeme{
    color : white;
    font-weight: bold;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
    font-size: 50px;
}
#image{
    display: none;
}
